<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <!-- Bootstrap core CSS -->
    <link th:href="@{/webjars/bootstrap/3.3.1/css/bootstrap.css}"
          href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.1/css/bootstrap.css" rel="stylesheet" media="screen">
    </link>
    <!-- Custom styles for this template -->
    <link th:href="@{/css/login.css}" rel="stylesheet" media="screen"/>
</head>
<body>
<h1>Hello world app!!!</h1>
<p>

<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
            <div class="account-wall">
                <form class="form-signin" th:action="@{/login}" method="post">
                    <input type="text" class="form-control" placeholder="Username" name="username"/>
                    <input type="password" class="form-control" placeholder="Password" name="password"/>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">
                        Sign in</button>
                    <label class="checkbox pull-left">
                        <input type="checkbox" value="remember-me" name="remember-me"/>
                        Remember me
                    </label>
                    <a href="#" class="pull-right need-help">Need help? </a><span class="clearfix"></span>
                </form>
            </div>
            <a href="#" class="text-center new-account">Create an account </a><br/>
            <a class="button" th:href="${url}">Войти через VK</a>
        </div>
    </div>
</div>




</p>

<!-- Bootstrap core JavaScript
================================================== -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.js"
        th:src="@{/webjars/jquery/1.11.1/jquery.js}"></script>
<script th:src="@{/webjars/bootstrap/3.3.1/js/bootstrap.js}"></script>
</body>
</html>
