<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <!-- Bootstrap core CSS -->
    <link th:href="@{/webjars/bootstrap/3.3.1/css/bootstrap.css}"
          href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.1/css/bootstrap.css" rel="stylesheet" media="screen">
    </link>
    <script src="//vk.com/js/api/openapi.js" type="text/javascript"></script>
    <script type="text/javascript">
        VK.init({
            apiId: 5178375
        });
    </script>
    <!-- Custom styles for this template -->
    <link href="css/static.css.login.css" rel="stylesheet" media="screen"/>
</head>
<body>
<h1>Hello world!!!</h1>
<p>

    Login complete

</p>

<!-- Bootstrap core JavaScript
================================================== -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.js"
        th:src="@{/webjars/jquery/1.11.1/jquery.js}"></script>
<script th:src="@{/webjars/bootstrap/3.3.1/js/bootstrap.js}"></script>
</body>
</html>