<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <!-- Bootstrap core CSS -->
    <link th:href="@{/webjars/bootstrap/3.3.1/css/bootstrap.css}"
          href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.1/css/bootstrap.css" rel="stylesheet" media="screen">
    </link>
    <script src="//vk.com/js/api/openapi.js" type="text/javascript"></script>
    <script type="text/javascript">
        VK.init({
            apiId: 5178375
        });
    </script>
    <!-- Custom styles for this template -->
    <link href="css/static.css.login.css" rel="stylesheet" media="screen"/>
</head>
<body>
<h1>Hello world!!!</h1>
<p>
    Test auth!

<div class="container">
    <!--<form class="form-signin" th:action="@{/login}">-->
        <!--<h2 class="form-signin-heading">Please sign in</h2>-->
        <!--&lt;!&ndash;<label for="inputEmail" class="sr-only">Login</label>&ndash;&gt;-->
        <!--&lt;!&ndash;<input type="text" id="inputEmail" class="form-control" placeholder="Login"/>&ndash;&gt;-->
        <!--&lt;!&ndash;<label for="inputPassword" class="sr-only">Password</label>&ndash;&gt;-->
        <!--&lt;!&ndash;<input type="password" id="inputPassword" class="form-control" placeholder="Password"/>&ndash;&gt;-->
        <!--&lt;!&ndash;<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>&ndash;&gt;-->
        <!--<div><label> User Name : <input type="text" id="username" name="username"/>  </label></div>-->
        <!--<div><label> Password: <input type="password" id="password" name="password"/>  </label></div>-->
        <!--<div><input type="submit" value="Sign In"/></div>-->
    <!--</form>-->

    <div th:if="${param.error}">
    Invalid username and password.
    </div>
    <div th:if="${param.logout}">
    You have been logged out.
    </div>

    <form th:action="@{/login}" method="post">
        <div><label> User Name : <input type="text" name="username"/> </label></div>
        <div><label> Password: <input type="password" name="password"/> </label></div>
        <div><input type="submit" value="Sign In"/></div>
    </form>

</div>

    <!--https://oauth.vk.com/authorize?client_id=5178375amp;scope=notify,friends,offlineamp;redirect_uri=http://localhost:8011/indexamp;display=popupamp;v=5.29amp;response_type=code-->
<!--<ion-side-menus>-->
    <!--<ion-content class="padding text-center">-->
        <!--<a class="btn bnt-default" th:href="https://oauth.vk.com/authorize?client_id=5178375&amp;scope=notify,friends,offlineamp;redirect_uri=http://localhost:8011/indexamp;display=popupamp;v=5.29amp;response_type=code">Войти через VK</a>-->
    <a class="button" th:href="${url}">Войти через VK</a>
    <!--</ion-content>-->
<!--</ion-side-menus>-->




</p>

<!-- Bootstrap core JavaScript
================================================== -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.js"
        th:src="@{/webjars/jquery/1.11.1/jquery.js}"></script>
<script th:src="@{/webjars/bootstrap/3.3.1/js/bootstrap.js}"></script>
</body>
</html>




<!--<!DOCTYPE html>-->
<!--<html xmlns="http://www.w3.org/1999/xhtml"-->
      <!--xmlns:th="http://www.thymeleaf.org"-->
      <!--xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">-->
<!--<head>-->
    <!--<title>Spring Security Example </title>-->
<!--</head>-->
<!--<body>-->
<!--&lt;!&ndash;<div th:if="${param.error}">&ndash;&gt;-->
    <!--&lt;!&ndash;Invalid username and password.&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;<div th:if="${param.logout}">&ndash;&gt;-->
    <!--&lt;!&ndash;You have been logged out.&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--<form th:action="@{/login}" method="post">-->
    <!--<div><label> User Name : <input type="text" name="username"/> </label></div>-->
    <!--<div><label> Password: <input type="password" name="password"/> </label></div>-->
    <!--<div><input type="submit" value="Sign In"/></div>-->
<!--</form>-->
<!--</body>-->
<!--</html>-->